html, body {
    margin: 0;
    background-color: white;
    background-image: url("../assets/img/limits.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: calc(100% - 200px) 100%;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1{
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color: #000;
    text-shadow: 0 0 4px white;
  }

  a{
    font-size: 2rem;
    letter-spacing: -1px;
    margin: 0;
    top: -4px;
    right: 5px;
    /*position absolute deleted for links, otherwise collpases*/
    color: #000;
    text-shadow: 0 0 4px white;
  }
 

#myCanvas{
    background-color: blueviolet;
}